@import './variables';

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin full-size() {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

@mixin center-v() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin center-h() {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin center-both() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

@mixin transition() {
  transition-property: all;
  transition-duration: $transition-time-slow;
}

@mixin emboss() {
  text-shadow: $color-white 0 1px 0;
}

@mixin emboss-on-white() {
  text-shadow: -1px -1px 1px $color-white, 1px 1px 1px #eeeeee;
}

@mixin underline() {
  position: relative;

  &:after {
    content: '';
    height: 1px;
    background: $color-header;
    width: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .1;
  }

  &:hover {
    &:after {
      opacity: .5;
    }
  }
}

@mixin separator() {
  position: absolute;
  top: 0;
  width: 100%;
  height: .125rem;
  background: $color-white;
}

@mixin header-text() {
  color: $color-header;
  font-size: $font-size-h2;
  font-family: $font-header;
  font-weight: $font-weight-light;
  letter-spacing: $letter-spacing-header;
}

@mixin header-small() {
  font-size: $font-size-small-x;
  font-weight: $font-weight-bold-x;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-header-h2;
  line-height: 1em;
  color: $color-header;

  a {
    color: $color-header;
  }
}